.company_index {
  position: relative;
  
  h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .create {
    position: absolute;
    right: 0;
  }

  .title {
    font-weight: bold;
  }

  .row {
    border: 1px solid grey;
    padding: 10px 0;
    
    [class^="col"] {
      display: flex;
      align-items: center;
      img.logo {
        width: 100%;
      }

      button {
        margin-right: 5px;
      }
    }
  }
  .pagination {
    margin: 10px 0 0 -8px;
  }
}